<!-- ***** NAV MENU DESKTOP ****** -->
<div class="menu-wrap">
  <div class="nav-menu">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-2 col-md-2">
          <a href="/">
            <img class="" src="{{ 'assets/img/Icono_blanco_kuoos.png' |theme}}" width="100" height="auto" alt="logo Antler">
          </a>
        </div>
        <nav id="menu" class="col-10 col-md-10">
          <div class="navigation float-end">
            <ul class="main-menu nav navbar-nav navbar-right">
              <li class="menu-item menu-item-has-children">
                <a class="" href="/" data-i18n="[html]header.home">Empresas</a>
                <ul class="sub-menu dropdown bg-colorstyle">
                  <li class="menu-item"><a class="mergecolor" href="/movil-empresas">Móvil</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/conectividad-empresas">Conectividad</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/conectividad-y-movil-empresas">Conectividad y Móvil</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/soluciones-avanzadas">Soluciones Avanzadas</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/centralita-virtual">Centralita Virtual</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/configura-tu-pack">Configura tu Pack</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a class="" href="/particulares" data-i18n="[html]header.services">Particulares</a>
                <ul class="sub-menu dropdown bg-colorstyle">
                  <li class="menu-item"><a class="mergecolor" href="/movil-particulares">Móvil</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/fibra-particulares">Fibra</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/fibra-y-movil-particulares">Fibra y Móvil</a></li>
                  <li class="menu-item"><a class="mergecolor" href="/television">Televisión</a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a class="" href="#" data-i18n="[html]header.pages">Blog</a>
              </li>
              <li class="menu-item menu-item-has-children">
                <a class="" href="/contacto" data-i18n="[html]header.features">Contacto</a>
              </li>
              <li class="menu-item menu-item-has-children menu-last">
                <a class="" href="#" data-i18n="[html]header.support">Soporte</a>
              </li>
              <li class="menu-item">
                <a class="pe-0 me-0" href="login"> <div class="btn btn-default-yellow-fill question"><span data-i18n="[html]header.login"></span> <i class="fas fa-lock ps-1"></i> Área Clientes </div></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** NAV MENU MOBILE ****** -->
<div class="menu-wrap mobile">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <a href="index"><img class="svg logo-menu d-block" src="{{ 'assets/img/logo.svg' |theme}}" alt="logo Antler"></a>
        <a href="index"><img class="svg logo-menu d-none" src="{{ 'assets/img/logo-light.svg' |theme}}" alt="logo Antler"></a>
      </div>
      <div class="col-6">
        <nav class="nav-menu float-end d-flex">
            <img class="svg" src="{{ 'assets/img/menu.svg' |theme}}" alt="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
          </div>
          <button id="nav-toggle" class="menu-toggle">
            <span class="icon"></span>
            <span class="icon"></span>
            <span class="icon"></span>
          </button>
          <div class="main-menu bg-seccolorstyle">
            <div class="menu-item">
              <a class="mergecolor" href="/" data-bs-toggle="dropdown">Empresas</a>
            </div>
            <div class="menu-item">
              <a class="mergecolor" href="/particulares" data-bs-toggle="dropdown">Particulares</a>
            </div>
            <div class="menu-item">
              <a class="mergecolor" href="#" data-bs-toggle="dropdown">Blog</a>
            </div>
            <div class="menu-item">
              <a class="mergecolor" href="contacto" data-bs-toggle="dropdown">Contacto</a>
            </div>
            <div class="menu-item menu-last">
              <a class="mergecolor" href="#" data-bs-toggle="dropdown">Soporte</a>
            </div>
            <div class="float-start w-100 mt-3">
              <p class="c-grey-light seccolor"> <small> Phone: + (123) 1300-656-1046</small> </p>
              <p class="c-grey-light seccolor"><small>Email: antler@mail.com</small> </p>
            </div>
            <div>
              <a href="login"><div class="btn btn-default-yellow-fill mt-3">Área Clientes</div></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** Sidebar ****** -->


<!-- Javascript -->
<script>
$("#nav-toggle").click(function(){
$(".menu-wrap.mobile, .menu-toggle").toggleClass("active");
});
</script>