<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kuoos | Soluciones de Comunicación Avanzada</title>
    <meta name="description" content="Kuoos">
    <meta name="keywords" content="Soluciones de Comunicación Avanzada">
    <meta name="author" content="Aress">
    <meta name="email" content="hola@aress.es">
    <meta name="website" content="https://aress.es">
    <meta name="Version" content="v4.7.0">

    <!-- Favicon -->
    <link href="{{ 'assets/img/favicon.png' |theme }}" rel="shortcut icon">
    <!-- Fonts -->
    <link href="{{ 'assets/fonts/cloudicon/cloudicon.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/fonts/fontawesome/css/all.min.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/fonts/evafeat/evafeat.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="{{ 'assets/css/rtl/bootstrap-rtl.min.css' |theme }}" disabled="true" rel="stylesheet" class="rtl">
    <link href="{{ 'assets/css/rtl/style-rtl.min.css' |theme }}" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS Styles -->
    <link href="{{ 'assets/css/bootstrap.min.css' |theme }}" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/magnific-popup.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/flickity.min.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/aos.min.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/nouislider.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/filter.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/mixitup.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/swiper.min.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/animate.min.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/slick.css' |theme }}" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="{{ 'assets/css/style.min.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/custom.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assests/css/gdpr-cookie.min.css' |theme}}" rel="stylesheet"> <!-- Estilos header -->
  </head>

  <body>
  <div class="box-container limit-width">
    <!-- ***** SETTINGS ****** -->
    <section id="settings"> </section>
    <!-- ***** LOADING PAGE ****** -->
    <div id="spinner-area">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        <div class="spinner-txt">Cargando...</div>
      </div>
    </div>
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <div>
    <!-- ***** HEADER ***** -->
    {% partial "header" %}
    <!-- ***** CONTENT ***** -->
    {% page %}
    <!-- ***** FOOTER ***** -->
    {% partial "footer" %}
    </div>
    <!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="{{ 'assets/js/jquery.min.js' |theme }}"></script>
<script src="{{ 'assets/js/typed.js' |theme }}"></script>
<script defer src="{{ 'assets/js/popper.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/bootstrap.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/jquery.countdown.js' |theme }}"></script>
<script defer src="{{ 'assets/js/jquery.magnific-popup.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/slick.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/flickity.pkgd.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/flickity-fade.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/aos.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/nouislider.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/mixitup.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/mixitup.multifilter.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/mixevents.js' |theme }}"></script>
<script src="{{ 'assets/js/filter.js' |theme }}"></script>
<script defer src="{{ 'assets/js/isotope.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/jquery.scrollme.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/swiper.min.js' |theme }}"></script>
<script async src="{{ 'assets/js/lazysizes.min.js' |theme }}"></script>
<script src="{{ 'assets/js/wow.min.js' |theme }}"></script>
<script>new WOW().init();</script>
<script defer src="{{ 'assets/js/variables.js' |theme }}"></script>
<script defer src="{{ 'assets/js/scripts.min.js' |theme }}"></script>
<script defer src="{{ 'assets/js/settings-init.js' |theme }}"></script>
<script>
var typed1 = new Typed('#typed1', {
  strings: ['performance', "flexibility", "scalability."],
  typeSpeed: 50,
  backSpeed: 20,
  smartBackspace: true,
  loop: true
});
</script>
</body>
</html>